<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Twilio Basic Web Sender</h1>
    <h2>Enter the message for individual recipient:</h2>
    <form action="single" id="single" method="POST">
        <label for="msg">Message</label>
        <input type="text" name="msg">
        <label for="tel">Tel:</label>
        <input type="tel" name="to">
        <input type="submit" id="single" name="single" value="Send" />
    </form>

</body>
</html>